$color-primary: #3f46d6;
$color-primary-dark: #181c71;
$color-primary-light: #d5d7f6;

$color-secondary: #25d9c6;
$color-secondary-dark: #0f5750;
$color-secondary-light: #d3f8f4;

$color-heart-pink: rgb(239, 96, 120);

$color-supporting-beige: #ffefd3;
$color-supporting-errorred: #e71d36;
$color-supporting-errorred-light: #e71d3562;
$color-supporting-errorred-dark: #252222;
$color-supporting-sucess-green: #3c8505;

$color-greyscale-line-grey: #e0e0e0;
$color-greyscale-background-grey: #f9f9f9;
$color-greyscale-secondary-grey: #767676;
$color-greyscale-content: #1a1a1a;

$font-family-primary: 'Inter';
