* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
}

html {
  min-height: 100vh;
}
body {
  min-height: 100vh;
}

button {
  border: none;
  cursor: pointer;
  color: unset;
}

a {
  text-decoration: none;
  display: block;
  color: currentColor;
}

ul {
  list-style-type: none;
}
li {
  text-indent: 0;
  list-style-type: none;
}
