.defaultButton {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

.primary {
  color: white;
  background-color: rgb(239, 96, 120);
}
.secondary {
  color: #333;
  background-color: whitesmoke;
  box-shadow: rgb(229, 190, 196);
}

.small {
  font-size: 12px;
  padding: 10px 16px;
}
.medium {
  font-size: 14px;
  padding: 11px 20px;
}
.large {
  font-size: 16px;
  padding: 12px 24px;
}
