@use '../../sass/constants.scss' as *;

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  width: 80px;
  cursor: pointer;
}
.middlware {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
}
.symptomImage {
  border-radius: 50%;
  height: 62px;
  width: 62px;
}

.standard {
  display: flex;
  justify-content: center;
  align-items: center;
}
.marked {
  border-radius: 50%;
  border: 2px solid $color-primary;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.marked::before {
  content: '';
  background-image: url('../../../public/marked.png');
  background-size: 60% 60%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 17px;
  height: 17px;
  border: 1px solid white;
  border-radius: 8.5px;
  top: 40px;
  left: 58px;
  background-color: $color-primary;
}

.symptomText {
  position: absolute;
  top: 65px;
  height: 16px;
  font-size: 12px;
  font-family: $font-family-primary;
}
