.container {
  width: 200px;
  height: 100px;
  border-radius: 5%;
  background-color: rgb(235, 115, 135);
  display: flex;
  align-items: center;
  column-gap: 10px;
  justify-content: center;
  color: white;
}
